.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Nav Bar */

.navbar {
display: flex;
flex-wrap: nowrap;
justify-content: center;
border-bottom: 2px solid black;
}


.logo {
height: 100px;
width: 100px;
}


#icon {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 40px;
  color: black;
  padding: 10px;
}

#icon:hover {
  color: rgba(24, 54, 62, 0.259);
}

/* --------- Home Top  --------- */
.topPros {
  display: flex;
  max-width: 300%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -4px;
  box-shadow: 0px 0px 11px 5px rgb(0 0 0 / 75%);
}

@media only screen and (max-width: 425px) {
  .topPros {
    flex-wrap: wrap;

  }


  .carousel-item {
    display: inline-flex;
    width: 300px;
    height: 300px;
}

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 8px;
    width: 220px;
    margin-left: 0px;
    padding: 100px;
    box-shadow: inset 0px 0px 9px 0px rgb(0 0 0 / 75%);
}
.contactTop {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 4px 5px 3px rgb(16 16 16 / 75%);
  border: rgba(0, 0, 0, 0.202) solid 1px;
  flex-wrap: wrap;
}

.contactArea {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  flex-wrap: wrap;
}
.gitIMG {
  color: black;
  margin-left: -120px;
  width: 330px;
}
}

@media only screen and (max-width: 600px) {
  .topPros {
    flex-wrap: wrap;

  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 8px;
    width: 600px;
    margin-left: 0px;
    padding: 100px;
    box-shadow: inset 0px 0px 9px 0px rgb(0 0 0 / 75%);
          margin-left: -10px;
}

.contactTop {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 4px 5px 3px rgb(16 16 16 / 75%);
  border: rgba(0, 0, 0, 0.202) solid 1px;
  flex-wrap: wrap;
}

.contactArea {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  flex-wrap: wrap;
}
.gitIMG {
  color: black;
  margin-left: -130px;
  width: 330px;
}
}

@media only screen and (max-width: 768px) {

.contactTop {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 4px 5px 3px rgb(16 16 16 / 75%);
  border: rgba(0, 0, 0, 0.202) solid 1px;
  flex-wrap: wrap;
}

.contactArea {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  flex-wrap: wrap;
}
.gitIMG {
  color: black;
  margin-left: -130px;
  width: 330px;
}
  .topPros {
    flex-wrap: wrap;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 8px;
    width: 600px;
    margin-left: 0px;
    padding: 100px;
    box-shadow: inset 0px 0px 9px 0px rgb(0 0 0 / 75%);
}
  .contactTop {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 4px 5px 3px rgb(16 16 16 / 75%);
    border: rgba(0, 0, 0, 0.202) solid 1px;
    flex-wrap: wrap;
}
.contactArea {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  flex-wrap: wrap;
}
}
.deals {
 border: 1px solid black;
 padding-left: 100px;
 padding-right: 100px;
 height: 350px;
 width: 400px;
 box-shadow: inset 0px 0px 7px 0px rgb(0 0 0 / 75%);
}

.hero-img{
  display: inline-flex;
  height: 650px;
  width: 1440px;
  box-shadow: 0px 0px 11px 5px rgb(0 0 0 / 75%);

}
/* --------- Contact Top  --------- */

.contactTop{
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 4px 5px 3px rgb(16 16 16 / 75%);
  border: rgba(0, 0, 0, 0.202) solid 1px;
}

#contact-icon {
  margin-top: 30px;
  font-size: 35px;
  color: rgb(0, 0, 0);
  padding: 10px;
}


.buttonTitle {
  font-size: 25px;
  font-weight: 50px;
}

.contactButton {
  display: flex;
  border: solid black 1.5px;
  padding: 4px;
  font-size: 20px;
  font-weight: 50px;
  border-radius: 6px;
  /* width: 150px; */
  justify-content: center;
}

.contactButton:hover {
  border: solid black 1.5px;
  padding: 4px;
  font-size: 20px;
  font-weight: 50px;
  border-radius: 6px;
  background-color: rgb(181, 181, 181);
}

.contactPhones {
border: 1px solid black;  
  padding: 40px;
  height: 400px;
  box-shadow: 0px 0px 11px 5px rgb(0 0 0 / 75%);
  border-radius: 8px;
}


/* --------- Contact Form  --------- */


.leftSideC {
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  margin-left: -130px;
}


.rightSideC {
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  margin-right: -590px;
}

.contactArea {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}


.contactForm {
  margin-top: 125px;
  display: flex;
  box-shadow: 0px 0px 9px 4px rgb(0 0 0 / 75%);
  border: 1px solid black;
  border-radius: 6px;
}


.gitIMG{
  color: black;
  margin-left: -150px;
}


textarea {
  display: flex;
  height: 100px;
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

input {
  font-size: 20px;
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  background-color: #00000040 4px 7px;
  margin-bottom: 30px;
}

label {
  font-size: 20px;
  text-align: center;
}


.submit {
  border: black solid 1px;
  border-radius: 5px;
  text-decoration: none;
  background-color: white;
  color: #757575;
  width: 306px;
  height: 50px;
}

.submit:hover {
  border: black solid 1px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(181, 181, 181);
}
/* --------- Product Cards  --------- */

.productDisplay {
  display: flex;
  flex-wrap: wrap;
}


.productContainer{
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  width: 600px;
  padding: 30px;
  margin: 20px;
  box-shadow: inset 0px 0px 5px 1px rgb(0 0 0 / 75%);

}
.productContainer:hover{
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  width: 600px;
  padding: 30px;
  margin: 20px;
  cursor: pointer;
}
.productIMG{
height:200px;
width: 200px;
border-bottom: 2px solid black;
border-top: 2px solid black;

border-radius: 10px;
}


.productName{
  font-family: 'Poiret One', cursive;
font-size: 30px;
}


.productDescription {

}

.productCost {

}


.productRight {
  margin-top: 10px;
}


.priceContainer{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
}


/* --------- Footer  --------- */

#footer-icon {
  margin-top: 30px;
  font-size: 30px;
  color: white;
  padding: 10px;
}

#footer-icon:hover {
  margin-top: 30px;
  font-size: 30px;
  color: rgba(251, 251, 251, 0.46);
  padding: 10px;
}

.footer-div {
  display: flex;
  justify-content: space-evenly;
}

.foot-head {
  color: white;
}

.footer {
  margin-top: 100px;
border-top: black solid 2px;
background-color: #282828;
color: #a6a5a3;
padding-bottom: 20px;
}

.copyRight {
  display: flex;
  justify-content: center;
  align-items: center;
background-color: black;
color: white;
margin-top: 0px;
height: 50px;

}




